*{
    margin: 0;
    padding: 0; 
}

body{
    background-color: #548687;
    text-align: center;
}

#container{
    height: 70vh;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 10px;
    border: none;
    box-shadow: 0 0 1rem rgb(156, 6, 6);
    font-size: 8vmin;
    color: #ea1313;
    background-color: #ffffcf;
}

#resetBtn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

#new-btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

#msg{
    color: #ffffcf;
    font-size: 8vmin;
}

.msg-container{
    height:  20vmin;
}

.hide{
    display: none;
}